<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Exercício 1</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <h1> Escolha o exercício que deseja ver:</h1>
    <nav class="navbarInicial">
        <a href="Ex1.html">
            <div>Exercício 1</div>
        </a>
        <a href="Ex2.html">
            <div>Exercício 2</div>
        </a>
        <a href="Ex3.html">
            <div>Exercício 3</div>
        </a>
        <a href="Ex4.html">
            <div>Exercício 4</div>
        </a>
        <a href="Ex5.html">
            <div>Exercício 5</div>
        </a>
        <a href="Ex6.html">
            <div>Exercício 6</div>
        </a>
        <a href="Ex7.html">
            <div>Exercício 7</div>
        </a>
    </nav>
</body>
</html>